body {
  background-color: #59565b;
  color: #d6ceda;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
}
#titlebar {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
}
#insets {
  position: absolute;
  overflow: scroll;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
}
#wrapper {
  position: absolute;
  left: 10px;
  right: 10px;
  padding: 20px 0;
}
.fade-down,
.fade-up {
  position: fixed;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 9999;
}
.fade-down {
  top: 35px;
  background: linear-gradient(to bottom, #59565b, rgba(89, 86, 91, 0));
}
.fade-up {
  bottom: 0;
  background: linear-gradient(to top, #59565b, rgba(89, 86, 91, 0));
}
.blog {
  /* Grid */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "name controls" "status controls";
  align-items: center;
  /* Other */
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #444;
  height: 4em;
  padding: 0 10px;
}
.blog .controls {
  grid-area: controls;
  justify-self: right;
  display: flex;
  width: 200px;
}
.blog .name {
  grid-area: name;
}
.blog .status {
  grid-area: status;
  font-size: 15px;
}
button {
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
button:active {
  box-shadow: inset 0px 0px 10px 2px #0005;
}
button:focus {
  outline: 0;
}
.add-blog {
  background-color: #fed454;
  color: #29230e;
  display: block;
  position: relative;
  margin: 1em auto;
  padding: 1em 6em;
}
.add-blog:hover {
  background-color: #fee187;
}
.add-blog:disabled {
  background-color: #fec721;
}
.controls button,
.controls span.status {
  display: inline-block;
  height: 50px;
}
.controls button.download {
  background-color: #c2fe54;
  color: #29230e;
  width: 200px;
}
.controls button.download:hover {
  background-color: #d4fe87;
}
.controls button.download:disabled {
  background-color: #b0fe21;
}
.controls button.pause,
.controls button.resume {
  width: 115px;
  margin-right: 5px;
}
.controls button.pause {
  background-color: #fed454;
  color: #29230e;
}
.controls button.pause:hover {
  background-color: #fee187;
}
.controls button.pause:disabled {
  background-color: #fec721;
}
.controls button.resume {
  background-color: #c2fe54;
  color: #29230e;
}
.controls button.resume:hover {
  background-color: #d4fe87;
}
.controls button.resume:disabled {
  background-color: #b0fe21;
}
.controls button.cancel {
  background-color: #fe6e54;
  color: #29230e;
  width: 80px;
}
.controls button.cancel:hover {
  background-color: #fe9987;
}
.controls button.cancel:disabled {
  background-color: #fe4321;
}
.controls span.status {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  line-height: 50px;
}
.controls span.status.starting {
  background-color: #c2fe54;
  color: #29230e;
}
.controls span.status.pausing {
  background-color: #fed454;
  color: #29230e;
}
.controls span.status.stopping {
  background-color: #fe6e54;
  color: #29230e;
}
